

<div class="mdb card blue-gradient">
    <div class="mdb card-body white-text rgba-black-light text-center">
    
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
    
        <!--Grid column-->
        <div class="col-md-6 fadeIn" style="visibility: visible; animation-name: fadeIn; animation-iteration-count: 1;">
    
          <h1 class="font-weight-bold mb-3 h2">统一认证</h1>
    
          <h4 class="mb-2 h5">系统使用统一认证系统实现单点登录.</h4>
    
        </div>
        <!--Grid column-->
    
      </div>
      <!--Grid row-->
    
    </div>
    </div>
    

    <div style="margin-top: 50px; display: flex; justify-content:center">
        <div>
            <a mat-flat-button [href]="url" target="_blank" color="primary">进入统一认证单点登录用户管理</a>
        </div>

    </div>
