
<div class="d-flex" style="padding: 0 5px;">

   
    <h2>共找到 {{list.length}} 个用户</h2>
    <div class="flex-auto flex-right-center">
        <button (click)="add()" mat-raised-button color="primary">添加用户</button>
    </div>

  
</div>


<mat-card class="flex-auto">
<table mat-table [dataSource]="list">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>登录名</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>姓名</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>电话</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>邮件</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>   
            <div class="flex-right-center">
                <mat-slide-toggle (change)="showChange($event)" [checked]="showAll"></mat-slide-toggle>
            </div>
           </th>
        <td mat-cell *matCellDef="let element; let i=index">
            <div class="flex-right-center">
                <button (click)="del(i)" mat-icon-button color="warn" aria-label="Example icon button with a menu icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" (click)="enable(i)" aria-label="Example icon button with a menu icon">
                    <mat-icon *ngIf="element.enable">lock</mat-icon>
                    <mat-icon *ngIf="!element.enable">lock_open</mat-icon>
                  </button>
                  <button (click)="resetPassword(i)" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>vpn_key</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                  </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','name','phone','email','action']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','name','phone','email','action']"></tr>

</table>

</mat-card>