
<mat-sidenav-container class="docs-component-viewer-sidenav-container" [style.padding-top.px] = "padding">


    <!-- If on small screen, menu resides in drawer -->
    <mat-sidenav #sidenav class="docs-component-viewer-sidenav"
                *ngIf="(isScreenSmall | async)"
                [opened]="(isScreenSmall | async) === false"
                [mode]="(isScreenSmall | async) ? 'over' : 'side'"
                [fixedInViewport]="(isScreenSmall | async)"
                [fixedTopGap]="(isExtraScreenSmall | async) ? 92 : 56">
      <app-function-nav></app-function-nav>
    </mat-sidenav>
    <div class="docs-component-sidenav-content" >

      
      <app-function-page-header (heightChange)="heightChange($event)" (toggleSidenav)="toggleSidenav(sidenav)"></app-function-page-header>
 
      <div class="docs-component-sidenav-inner-content">
        <main class="docs-component-sidenav-body-content">
          <!-- If on large screen, menu resides to left of content -->
          <app-function-nav
            *ngIf="(isScreenSmall | async) === false"
            >
          </app-function-nav>
          <div class="function-body">
            <router-outlet></router-outlet>
          </div>
          
        </main>
        <app-footer></app-footer>
      </div>
    </div>
</mat-sidenav-container>
