
    <div class="pb-3 context-view-head">
        <div class="head-nav">
       
                <h3>
                    12,750 repository results
                </h3>
  
            <div class="flex-auto">

            </div>

            <div class="actions">
                <button mat-icon-button aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
            </div>

              
        </div>


    </div>
<div class="context-view-body">

<div class="context-view-master">
<div class="px-2 view-context">


    <ul class="repo-list" style="margin-top: -16px">
        <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 public source">
            <div class="flex-shrink-0 mr-2">
                
            </div>

            <div class="mt-n1">
                <div class="f4 text-normal">
                    <a class="v-align-middle">
                        corp name
                    </a>
                    <p class="mb-1">
                        descript
                    </p>
                    <div>
                        tags
                    </div>
                    <div class="d-flex flex-wrap text-small text-gray">
                        <div class="mr-3">
                            date
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 public source">
            <div class="flex-shrink-0 mr-2">

            </div>

            <div class="mt-n1">
                <div class="f4 text-normal">
                    <a class="v-align-middle">
                        corp name
                    </a>
                    <p class="mb-1">
                        descript
                    </p>
                    <div>
                        tags
                    </div>
                    <div class="d-flex flex-wrap text-small text-gray">
                        <div class="mr-3">
                            date
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 public source">
            <div class="flex-shrink-0 mr-2">
            
            </div>

            <div class="mt-n1">
                <div class="f4 text-normal">
                    <a class="v-align-middle">
                        corp name
                    </a>
                    <p class="mb-1">
                        descript
                    </p>
                    <div>
                        tags
                    </div>
                    <div class="d-flex flex-wrap text-small text-gray">
                        <div class="mr-3">
                            date
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


 </div>  
 
 
 <div class="context-view-details" >
    <div class="details-context">
        asdf
    </div>
 </div>
</div>