@import '../../../styles/constants';


app-master-layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 53.3px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }


  app-master-layout > app-sidenav-layout {
    flex: 1;
  }
  
//   .app-master-layout > app-homepage {
//     overflow-y: auto;
//   }
  
  @media (max-width: $small-breakpoint-width) {
    app-master-layout {
      top: 92px;
    }
  
    // .app-master-layout > app-homepage {
    //   overflow-y: visible;
    // }
  }
  

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

app-navbar {
    color: #fff;
}


.docs-button[md-button], .docs-button[md-raised-button] {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: 400;
}

.docs-primary-header {
  padding-left: 20px;

  h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
  }
}

.docs-primary-header {
  background: #3f51b5;;

  h1 {
    color: #fff;
  }
}

// These styles are for controlling SVGs without using the /deep/ selector

.docs-component-category-list-card-image svg {
  width: 100%;
}

.docs-footer-angular-logo svg {
  height: 50px;
}


