
<div class="repohead">

  <div class="d-flex mb-4 px-3">

    <div class="flex-auto min-width-0 width-fit mr-3">
      <h1 class="private  d-flex flex-wrap flex-items-center break-word float-none ">
        <span class="flex-self-stretch" octicon="flame" style="margin-top: -2px;">

        </span>
        <strong class=" ml-2 flex-self-stretch" >
          {{dataService.fireCheck?.project.name}}
        </strong>
        <span class="path-divider flex-self-stretch"> / </span>
        <span class="mr-2 flex-self-stretch">
          {{dataService.fireCheck?.project.property | projectPropertyLabel}}  <span *ngIf="dataService.fireCheck?.project.property == 'MODIFY'"> <span class="path-divider flex-self-stretch"> / </span> {{dataService.fireCheck?.project.modifyType | projectModifyTypeLabel}}</span>
          
        </span>

        <span class="Label Label--outline v-align-middle ">{{dataService.fireCheck?.inRandom ? '抽中' : '未抽中'}}</span>
        
      </h1>
    </div>
    <ul class="pagehead-actions flex-shrink-0 ">
      <li>
        <button *ngIf="!dataService.isClaim" (click)="dataService.claim()" [disabled]="" mat-stroked-button>
          <span octicon="person" [width]="14" height="14" style="line-height: 1px;"></span>
          接收业务
        </button>
        <button *ngIf="dataService.isClaim" (click)="dataService.unclaim()" mat-stroked-button>
          <span octicon="person" [width]="14" height="14" style="line-height: 1px;"></span>
          取消接收
        </button>
      </li>
      <li><button mat-stroked-button>
        <span octicon="pencil" [width]="14" height="14" style="line-height: 1px;"></span>
        办理业务</button>
      </li>

    </ul>
  </div>


<nav mat-tab-nav-bar style="margin-bottom: 25px;">
  <a mat-tab-link [routerLink]="['./']" [routerLinkActiveOptions]= "{exact: true}" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      基本信息
  </a>
  <a mat-tab-link routerLink="business" disabled="true" routerLinkActive #rlb="routerLinkActive" [active]="rlb.isActive">
    验收表
</a>
  <a mat-tab-link routerLink="document" routerLinkActive #rlc="routerLinkActive" [active]="rlc.isActive">
    要件/附件
  </a>

  <a mat-tab-link routerLink="business" disabled="true" routerLinkActive #rlb="routerLinkActive" [active]="rlb.isActive">
      业务轨迹
  </a>
  




</nav>
</div>
<router-outlet></router-outlet>