<div class="row">
  <div class="col-md-7">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{project.info.info.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{project.info.regTime | date:'yyyy年MM月dd日'}} / {{project.code}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">
          <li *ngIf="project.info.info.importantType != 'NORMAL'">
            <strong>{{project.info.info.importantType | improtantTypeLabel}}</strong> [{{project.info.info.importantFile}}]
          </li>
          <li>
            <strong>工程类别:</strong>{{project.info.info.type | projectTypeLabel}} {{project.info.info.floorType | floorTypeLabel}} {{project.info.info.typeLevel | projectTypeLevelLabel}}
          </li>
          <li>
            <strong>结构型式:</strong>{{project.info.info.structure | structLabel}} <ng-container *ngIf="!project.info.info.structure"> - </ng-container>
          </li>
          <li>
            <strong>地上/地下层数:</strong> <ng-container *ngIf="!project.info.info.groundCount"> - </ng-container> {{project.info.info.groundCount | number}} / {{project.info.info.underCount | number}} <ng-container *ngIf="!project.info.info.underCount"> - </ng-container>  <ng-container *ngIf="project.info.info.height"> <strong>高度:</strong> {{project.info.info.height |number}} </ng-container>
          </li>
          <li>
            <strong>占地/建筑面积:</strong> <ng-container *ngIf="!project.info.info.landArea"> - </ng-container>{{project.info.info.landArea | number}}m<sup>2</sup> / <ng-container *ngIf="!project.info.info.area"> - </ng-container>{{project.info.info.area | number}}m<sup>2</sup>
          </li>

          <li>
            <strong>计划开工/竣工:</strong> <ng-container *ngIf="!project.info.info.beginDate"> - </ng-container>{{project.info.info.beginDate | date:'yyyy年MM月dd日'}} / {{project.info.info.completeDate | date:'yyyy年MM月dd日'}}<ng-container *ngIf="!project.info.info.completeDate"> - </ng-container>
          </li>

          <li>
            <strong>工程造价:</strong> <ng-container *ngIf="!project.info.info.costs"> - </ng-container>{{project.info.info.costs | number}}万元 <ng-container *ngIf="project.info.info.tender"> <strong>招标情况:</strong> {{project.info.info.tender}} </ng-container>
          </li>

          <li>
            <strong>地址:</strong>{{project.info.info.address}}
          </li>
          <li>
            <strong>备注:</strong>{{project.info.info.memo}}
          </li>
          
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{developer.info.name}}
        </mat-card-title>
        <mat-card-subtitle>
           {{developer.code}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">
          <li>
            <strong>资质等级:</strong>{{developer.info.level | levelLabel:developer.property}}
          </li>
          <li>
            <strong>{{developer.info.groupIdType | groupCardLabel}}:</strong>{{developer.info.groupId}}
          </li>
          <li *ngIf="developer.outLevel">
            <strong>越级审批文号:</strong> {{developer.outLevelFile}}
          </li>
          <li *ngIf="developer.outsideTeamFile">
            <strong>外埠队伍审批手续:</strong> {{developer.outsideTeamFile}}
          </li>
          <li>
            <strong>联系方式:</strong> {{developer.contacts}} / {{developer.tel}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

</div>