main{
    flex: 1 0 auto;
}

.intro {
    min-height: 100vh;
    position: relative;
}

.intro-2 {
    // background: url(http://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(11).jpg) center center/cover no-repeat;
}

.mat-form-field:first-child{
    margin-top: 1.5rem;
}