<div class="Subhead">
    <h2 *ngIf="!corp" class="Subhead-heading">创建参建单位</h2>
    <p class="Subhead-description">
        每个参建单位可以有多种参建角色，如果只是想新增一种参建角色，请修改原参建单位.
    </p>
</div>


<div class="paper-page">

<form [formGroup]="businessForm">



    <mat-card formGroupName="corpInfo">
        <mat-card-header>
            <mat-card-title>基本信息</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field>
                <mat-label>名称</mat-label>
                <input matInput formControlName="name" required>
            
                <mat-error *ngIf="businessForm.get('corpInfo').get('name').hasError('required')">
                    企业名称 <strong>不能为空</strong>
                </mat-error>
                <mat-error *ngIf="businessForm.get('corpInfo').get('name').hasError('maxlength')">
                    名称长度不能超过 <strong>128</strong>
                </mat-error>
            </mat-form-field>

            <div class="row">
                <mat-form-field class="col-sm-4">
                    <mat-label>证件类型</mat-label>
    
                    <mat-select formControlName="groupIdType" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let type of groupIdTypes" [value]="type.id">
                            {{type.name}}
                          </mat-option>
                    </mat-select>
                    <mat-error *ngIf="businessForm.get('corpInfo').get('groupIdType').hasError('required')">请选择证件类型</mat-error>
                </mat-form-field>


                <mat-form-field class="col-sm-8">
                    <mat-label>证件编号</mat-label>
                    <input matInput formControlName="groupId" required>
                    <mat-error *ngIf="businessForm.get('corpInfo').get('groupId').hasError('required')">
                        编号 <strong>不能为空</strong>
                    </mat-error>
                    <mat-error *ngIf="businessForm.get('corpInfo').get('groupId').hasError('maxlength')">
                        编号长度不能超过 <strong>32</strong>
                    </mat-error>
                </mat-form-field>
            </div>



            <div class="row">

                <mat-form-field class="col-md-3">
                    <mat-label>法人姓名</mat-label>
                    <input matInput formControlName="ownerName" required>
                    <mat-error *ngIf="businessForm.get('corpInfo').get('ownerName').hasError('required')">
                        姓名 <strong>不能为空</strong>
                    </mat-error>
                    <mat-error *ngIf="businessForm.get('corpInfo').get('ownerName').hasError('maxlength')">
                        姓名 <strong>32</strong>
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="col-md-3 col-sm-4">
                    <mat-label>法人证件类型</mat-label>
    
                    <mat-select formControlName="ownerIdType" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let type of personIdType" [value]="type.id">
                            {{type.name}}
                          </mat-option>
                    </mat-select>

                    <mat-error *ngIf="businessForm.get('corpInfo').get('ownerIdType').hasError('required')">请选择证件类型</mat-error>

                </mat-form-field>

                <mat-form-field class="col-md-6 col-sm-8" required>
                    <mat-label>法人证件编号</mat-label>
                    <input matInput formControlName="ownerId" required>
                    <mat-error *ngIf="businessForm.get('corpInfo').get('ownerId').hasError('required')">
                        编号 <strong>不能为空</strong>
                    </mat-error>
                    <mat-error *ngIf="businessForm.get('corpInfo').get('ownerId').hasError('maxlength')">
                        编号长度不能超过 <strong>32</strong>
                    </mat-error>
                </mat-form-field>
            </div>

          

           
            <div class="row">
               
                <mat-form-field class="col-sm-4">
                    <mat-label>联系电话</mat-label>
                    <input matInput formControlName="tel">
                    <mat-error *ngIf="businessForm.get('corpInfo').get('tel').hasError('maxlength')">
                        电话长度不能超过 <strong>16</strong>
                    </mat-error>
                </mat-form-field>
     

                <mat-form-field class="col-sm-8">
                    <mat-label>地址</mat-label>
                    <input matInput formControlName="address">
                    <mat-error *ngIf="businessForm.get('corpInfo').get('address').hasError('maxlength')">
                        地址长度不能超过 <strong>256</strong>
                    </mat-error>
                </mat-form-field>
            </div>

      
 
        </mat-card-content>
    </mat-card>


    <mat-card >
        <h2>请添加至少一个参建角色</h2>


        <button mat-raised-button color="primary">
            添加

        </button>
    </mat-card>







    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    基本信息
                </mat-panel-title>

                <mat-panel-description>
             
                </mat-panel-description>

            </mat-expansion-panel-header>


        </mat-expansion-panel>





    </mat-accordion>
</form>
</div>