

<div class="px-2">
    <div class="d-flex flex-column flex-md-row flex-justify-between border-bottom pb-3 position-relative pagehead">
        <h3>
        12,750 repository results
        </h3>

    </div>

    <ul class="repo-list">
        <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 public source">
            <div class="flex-shrink-0 mr-2">
                <fa-icon [icon]="faRegistered"></fa-icon>
            </div>

            <div class="mt-n1">
                <div class="f4 text-normal">
                    <a class="v-align-middle">
                        corp name
                    </a>
                    <p class="mb-1">
                        descript
                    </p>
                    <div>
                        tags
                    </div>
                    <div class="d-flex flex-wrap text-small text-gray">
                        <div class="mr-3">
                            date
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 public source">
            <div class="flex-shrink-0 mr-2">
                <fa-icon [icon]="faRegistered"></fa-icon>
            </div>

            <div class="mt-n1">
                <div class="f4 text-normal">
                    <a class="v-align-middle">
                        corp name
                    </a>
                    <p class="mb-1">
                        descript
                    </p>
                    <div>
                        tags
                    </div>
                    <div class="d-flex flex-wrap text-small text-gray">
                        <div class="mr-3">
                            date
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 public source">
            <div class="flex-shrink-0 mr-2">
                <fa-icon [icon]="faRegistered"></fa-icon>
            </div>

            <div class="mt-n1">
                <div class="f4 text-normal">
                    <a class="v-align-middle">
                        corp name
                    </a>
                    <p class="mb-1">
                        descript
                    </p>
                    <div>
                        tags
                    </div>
                    <div class="d-flex flex-wrap text-small text-gray">
                        <div class="mr-3">
                            date
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>