
<div class="row" *ngIf="!loadding">




  <div class="col-md-3">


    <div class="px-2 pt-2 d-flex d-md-none flex-items-center mb-4">
      <mat-menu #categoryOperation="matMenu" class="menu-screen">
        <button mat-menu-item (click)="newCategory()">添加</button>
        <button mat-menu-item [disabled]="!selectedCategory" (click)="editCategory()">修改</button>
        <button mat-menu-item [disabled]="!selectedCategory" (click)="delCategory()">删除 </button>
      </mat-menu>
       <button *ngIf="editable" mat-button [matMenuTriggerFor]="categoryOperation"><mat-icon>menu</mat-icon></button> 
       
       <mat-menu #categorySelectMenu="matMenu" class="menu-screen">
        <button mat-menu-item (click)="onDocumentSelected()">浏览全部</button>
        <button mat-menu-item [class.selected]="selectedCategory?.id === doc.id"
          *ngFor="let doc of fileCategorys" (click)="onDocumentSelected(doc.id)">{{doc.name}}</button>
       </mat-menu>
       <button [matMenuTriggerFor]="categorySelectMenu" class="flex-auto" mat-stroked-button>分类</button> 
    </div>

    <div class="d-none d-md-block" style="position: -webkit-sticky;
      position: sticky;top:25px;">


      <nav class="menu border " >
        <a class="menu-item" (click)="onDocumentSelected()"
        [class.selected]="!selectedCategory">
          浏览全部
        </a>
        <a class="menu-item" [class.selected]="selectedCategory?.id === doc.id"
          *ngFor="let doc of fileCategorys" (click)="onDocumentSelected(doc.id)">
          {{doc.name}}
        </a>

      </nav>

      <div *ngIf="editable" style="display: flex; justify-content: space-between ;padding: 5px 10px;">

      
      <button  color="warn" [disabled]="!selectedCategory" (click)="delCategory()" mat-mini-fab>
        <mat-icon>delete</mat-icon>
      </button>



      <button  color="accent" [disabled]="!selectedCategory" (click)="editCategory()"mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>

      <button  color="primary" (click)="newCategory()" mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
      </div>
    </div>


  </div>


  <div class="col-md-9">
    <div *ngIf="selectedCategory" class="border-bottom">
      <div class="d-flex flex-column flex-md-row flex-justify-between  pb-1 position-relative">
        <div style="display: flex;justify-content: flex-start; align-items: center;">
      
          <h3 style="margin-top: 4px;"> 
              {{selectedCategory.name}}
          </h3>

        </div>
        <ul style="display:flex;  justify-content:flex-end;" *ngIf="selectedCategory && editable" class="pagehead-actions flex-shrink-0">
          <li>
            <!-- accept="image/*" -->
              <input (change)="onFileChange($event)" style="display: none;" type="file" multiple #file>

              <button (click)="file.click()" mat-stroked-button class="small-button">
                <span octicon="file-directory" style="line-height: 1px !important; margin-right: 2px;"></span>
                文件
              </button>
        

          </li>
          <li>
            <button (click)="callCamera()" mat-stroked-button class="small-button">
              <span octicon="device-camera" style="line-height: 1px !important;  margin-right: 2px;"></span>
              拍照
            </button>
          </li>
        </ul>
      </div>

      <p class="Subhead-description" >
        {{ selectedCategory.description}}
      </p>
    </div>

    <div *ngIf="selectedCategory">

    <section  *ngIf="editable" dragula="FILE_LIST" [(dragulaModel)]="selectedCategory.files" class="file-wall">
      <ng-container *ngTemplateOutlet="items"></ng-container>
    </section>
    <section *ngIf="!editable" class="file-wall" >
      <ng-container *ngTemplateOutlet="items"></ng-container>
    </section>
    <ng-template  #items>
      <div  class="zoom" *ngFor="let file of selectedCategory.files" [style.flex-grow]="file.width * 200 / file.height" [style.width.px]="file.width * 200 / file.height">
        <i [style.padding-bottom.%]="file.height / file.width * 100"></i>
        <a *ngIf="file.isImage" (click)="openPreview(file.id)">
          <img draggable="false" [src]="file.thumbnailUrl" (load)="file.loadSize($event);">
        </a>
        <div *ngIf="!file.isImage" class="application-file-thumb img-thumbnail">
          <a [href]="file.url" [target]="file.isPdf ? 'blank' : '_self'" [attr.download]="!file.isPdf">

            <div class="file-icon">
              <fa-icon [icon]="faFileDownload" size="8x"></fa-icon>
            </div>
            <div class="file-label">
              {{file.type}}
            </div>
       
          </a>
        </div>
        <div *ngIf="editable" class="file-actions">
            <button mat-mini-fab color="warn" (click)="delFile(file.id)" ><mat-icon>delete</mat-icon></button>
        </div>
      </div>

      <div *ngFor="let file of selectedCategory.uploading" style="background-color: #4dabf7;">
        <!-- background is image -->
         {{file.progress}} %
      </div>
    </ng-template>

    </div>


    <div *ngIf="!selectedCategory">

      <div *ngFor="let doc of noEmptyDocs">
        <div class="border-bottom mt-4 pb-1">
          <h3>{{doc.name}}</h3>
        </div>
  
        <section  class="file-wall">
          <div class="zoom" *ngFor="let file of doc.files" [style.flex-grow]="file.width * 200 / file.height" [style.width.px]="file.width * 200 / file.height">
            <i [style.padding-bottom.%]="file.height / file.width * 100"></i>
            <a *ngIf="file.isImage" (click)="openPreview(file.id)">
              <img draggable="false" [src]="file.thumbnailUrl" (load)="file.loadSize($event);">
            </a>
            <div *ngIf="!file.isImage" class="application-file-thumb img-thumbnail">
              <a [href]="file.url" [target]="file.isPdf ? 'blank' : '_self'" [attr.download]="!file.isPdf">

              <div class="file-icon">
                <fa-icon [icon]="faFileDownload" size="8x"></fa-icon>
              </div>    
              <div class="file-label">
                {{file.type}}
              </div>
              </a>
            </div>
          </div>


        </section>

      </div>

    </div>
  </div>


</div>
