<ng-progress></ng-progress>
<nav class="docs-navbar-header" aria-label="Top Toolbar">
  <a mat-button class="docs-button" routerLink="/" aria-label="建设工程审批系统">
    <img class="docs-home-logo"
         src="../../assets/img/home.png"
         alt="angular">
    <span>建设工程审批系统</span>
  </a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/business">新建业务</a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/business">业务办理</a>

  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/business">业务查询</a>
  
  <div class="flex-spacer"></div>


  <a mat-button class="docs-button docs-navbar-hide-small"
  (click)="logout()" aria-label="注销">
  <span class="docs-github-logo" color="white" octicon="sign-out" ></span> {{user.user_name}}
</a>
  <a mat-icon-button class="docs-button docs-navbar-show-small"
    (click)="logout()" aria-label="注销">
    <span octicon="sign-out" class="docs-github-logo" color="white" ></span> 
  </a>
</nav>
<nav class="docs-navbar docs-navbar-show-small" aria-label="Section Nav Bar">
  <a mat-button class="docs-navbar-link" routerLink="/business">新建业务</a>
  <a mat-button class="docs-navbar-link" routerLink="/business">业务办理</a>

  <a mat-button class="docs-navbar-link" routerLink="/business">业务查询</a>
</nav>
