

<div class="row" *ngIf="fireCheck">
  <div class="col-xl-8">

    <mat-card>
      <mat-card-header>
          <mat-card-title>
            {{fireCheck.info.special ? '特殊建设工程消防验收' : '建设工程消防验收备案'}}<span *ngIf="!fireCheck.info.special">{{fireCheck.type | fireApplyTypelabel}} </span> <span *ngIf="!fireCheck.info.special" class="Label Label--outline v-align-middle ">{{fireCheck?.info.inRandom ? '抽中' : '未抽中'}}</span>
            
          </mat-card-title>
          <mat-card-subtitle>
            {{fireCheck.id}}
            
            
          </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="padding: 0 16px;">
        <ul class="striped list-unstyled field-info-list row">

          <li class="col-md-12">
            <strong>项目名称:</strong>{{fireCheck.info.project.name}}
          </li>
          <li class="col-md-12">
            <strong>项目地址:</strong>{{fireCheck.info.project.address}}
          </li>


          <li class="col-md-6" *ngIf="fireCheck.info.special"> 
            <strong style="font-size: 8px;">《特殊建设工程消防设计审查意见书》文号:</strong>  <span *ngIf="!fireCheck.info.designFile"> - </span>  {{fireCheck.info.designFile}} 
          </li>

          <li class="col-md-6" *ngIf="fireCheck.info.special">
            <strong >审查合格日期:</strong>  {{fireCheck.info.designFileDate | date:'yyyy年MM月dd日'}}
          </li>

          <li class="col-md-6">
            <strong style="font-size: 8px;">建筑工程施工许可证号、批准开工报告 编号或证明文件编号:</strong> <span *ngIf="!fireCheck.info.constructFile"> - </span> {{fireCheck.info.constructFile}} 
          </li>

          <li class="col-md-6">
            <strong >制证日期:</strong> {{fireCheck.info.constructFileDate | date:'yyyy年MM月dd日'}}
          </li>

          <li class="col-md-6">
            <strong>受理时间:</strong> {{fireCheck.applyTime | date:'yyyy年MM月dd日 h:mm:ss'}}
        
          </li>
          <li class="col-md-6">
            <span *ngIf="fireCheck.status == 'Qualified'">
              <strong>审批时间:</strong> {{fireCheck.regTime | date:'yyyy年MM月dd日 h:mm:ss'}}
            </span>
          </li>



          <li class="col-md-6">
            <strong>联系人:</strong>{{fireCheck.info.contracts}}
          </li>
          <li class="col-md-6">
            <strong>联系电话:</strong> {{fireCheck.info.tel}}
          </li>

          <li class="col-md-12">
            <strong>情况说明:</strong> {{fireCheck.memo}}
          </li>


          <li class="col-md-12" *ngIf=" fireCheck.info.inRandom &&  (fireCheck.status == 'Unqualified' || fireCheck.status == 'Qualified')">
            <strong>验收结论:</strong> 
            
            <span *ngFor="let build of fireCheck.info.builds">
              {{build.info.name}} : {{build.opinion}};
            </span>
          </li>

          <li class="col-md-12" *ngIf="fireCheck.status == 'NoAccept'">
            <strong>不予受理:</strong> {{fireCheck.noAcceptType | noAcceptReasonlabel}}
          </li> 

        </ul>
      </mat-card-content>
    </mat-card>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel  *ngFor="let corp of fireCheck?.info.project.corps">


      <mat-expansion-panel-header>
        <mat-panel-title>
    
          {{corp.property | joinTypeLabel}} - {{corp.name}}
        </mat-panel-title>
        <mat-panel-description style="flex-grow: 0;">
          <mat-icon color="primary" *ngIf="corp.code === fireCheck.corp ">
            stars
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ul class="striped list-unstyled field-info-list">
 
        <li>
          <strong>{{corp.groupIdType | groupCardLabel}}:</strong>{{corp.groupId}}
        </li>
        <li>
          <strong>资质等级:</strong>{{corp.level | levelLabel:corp.property}}
        </li>
        <li>
          <strong>法人:</strong> {{corp.ownerName}}  <strong>{{corp.ownerIdType | personCardLabel}}:</strong> {{corp.ownerId}}
        </li>
        <li>
          <strong>负责人:</strong> <fa-icon *ngIf="corp.contacts" [icon]="faUserTie"></fa-icon> {{corp.contacts}} <fa-icon *ngIf="corp.contactsId" [icon]="faIdCard"></fa-icon> {{corp.contactsId}} <fa-icon *ngIf="corp.tel" [icon]="faPhone"></fa-icon> {{corp.tel}}
        </li>
      </ul>
    </mat-expansion-panel>
    </mat-accordion>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          建筑物
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table style="width: 100%;" mat-table [dataSource]="fireCheck.info.builds" >

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>名称</th>
            <td mat-cell *matCellDef="let element;">
              {{element.info?.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="structure">
            <th mat-header-cell *matHeaderCellDef>结构型式</th>
            <td mat-cell *matCellDef="let element">{{element.info?.structure | structLabel}}</td>
          </ng-container>

          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>层数(地上/地下)</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="!element.info?.onCount">-</span>{{element.info.onCount | number}} / <span *ngIf="!element.info.underCount">-</span>{{element.info.underCount | number}}</td>
          </ng-container>

          <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef>面积(地上/地下)</th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="!element.info?.onArea">-</span> {{element.info.onArea | number}} / <span *ngIf="!element.info.underArea">-</span>{{element.info.underArea | number}} </td>
          </ng-container>

          <ng-container matColumnDef="loadArea">
            <th mat-header-cell *matHeaderCellDef>占地面积</th>
            <td mat-cell *matCellDef="let element"><span *ngIf="!element.info.landArea">-</span> {{element.info.landArea | number}}</td>
          </ng-container>

          <ng-container matColumnDef="height">
            <th mat-header-cell *matHeaderCellDef>建筑高度</th>
            <td mat-cell *matCellDef="let element"><span *ngIf="!element.info.height">-</span>{{element.info.height | number}}</td>
          </ng-container>

 
          <ng-container matColumnDef="length">
            <th mat-header-cell *matHeaderCellDef>建筑长度</th>
            <td mat-cell *matCellDef="let element"><span *ngIf="!element.info.length">-</span>{{element.info.length | number}}</td>
          </ng-container>         


          <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef>使用性质</th>
            <td mat-cell *matCellDef="let element;">
              {{element.property | fireUseProperty}}
            </td>
          </ng-container>

          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef>耐火等级*</th>
            <td mat-cell *matCellDef="let element;">
              {{element.rating | fireRatingLevel}}
            </td>
          </ng-container>

          <ng-container matColumnDef="danger">
            <th mat-header-cell *matHeaderCellDef>火灾危险性*</th>
            <td mat-cell *matCellDef="let element; ">
              {{element.danger | fireDangerLevel}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['name','structure','count','area','loadArea','height','length','property','rating','danger']"></tr>
          <tr mat-row *matRowDef="let row; columns:['name','structure','count','area','loadArea','height','length','property','rating','danger'];"></tr>

        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xl-4">
    <mat-card *ngIf="fireCheck">
      <mat-card-header>
        <mat-card-title >
          {{fireCheck.info.project.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{fireCheck.info.projectCode}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">

          
          <li>
            <strong>工程性质:</strong>{{fireCheck.info.project.property | projectPropertyLabel}}  <span *ngIf="fireCheck.info.project.property === 'MODIFY'">( <span *ngIf="fireCheck.info.project.modifyFit">装修</span> <span *ngIf="fireCheck.info.project.modifyWarm">建筑保温</span> <span *ngIf="fireCheck.info.project.modifyUse">改变用途</span>)</span> 
          </li>
          <li>
            <strong>工程类别:</strong>{{fireCheck.info.project.type | projectTypeLabel}}
          </li>
          <li>
            <strong>总建筑面积:</strong>{{fireCheck.info.project.area | number}}
          </li>
          <li>
            <strong>占地面积:</strong> <span *ngIf="!fireCheck.info.project.landArea">-</span> {{fireCheck.info.project.landArea | number}}  平方米
          </li>
          <li>
            <strong>工程投资额:</strong> <span *ngIf="!fireCheck.info.project.putMoney">-</span> {{fireCheck.info.project.putMoney | number}}  万元
          </li>


          
        </ul>
      </mat-card-content>

    </mat-card>


    <mat-card *ngIf="fireCheck.info.tin">
      <mat-card-header>
        <mat-card-title>
          储罐
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">
          <li>
            <strong>位置:</strong>{{fireCheck.info.tin.location}}
          </li>

          <li>
            <strong>总容量:</strong> {{fireCheck.info.tin.area | number}}
          </li>
          <li>
            <strong>设置形式:</strong> {{fireCheck.info.tin.type | fireTinType}}
          </li>
          <li>
            <strong>储存形式:</strong>{{fireCheck.info.tin.layout | fireTinLayout}}
          </li>
          <li>
            <strong>储存物名称:</strong> {{fireCheck.info.tin.name}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="fireCheck.info.square">
      <mat-card-header>
        <mat-card-title>
          堆场
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">
          <li>
            <strong>储量:</strong> {{fireCheck.info.square.area | number}}
          </li>
          <li>
            <strong>储存物名称:</strong> {{fireCheck.info.square.name}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="fireCheck.info.fit">
      <mat-card-header>
        <mat-card-title>
          装修工程
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">
          <li>
            <!-- //fireFitPart -->
            <strong>部位:</strong> {{fireCheck.info.fit.part | fireFitPartLabel}} 
          </li>
          <li>
            <strong>面积:</strong> {{fireCheck.info.fit.area  | number}}
          </li>
          <li>
            <strong>层数:</strong> {{fireCheck.info.fit.layers}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="fireCheck.info.useChange">
      <mat-card-header>
        <mat-card-title>
          改变用途
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">
          <li>
            <strong>使用性质:</strong> {{fireCheck.info.useChange.property | fireUseProperty}}
          </li>
          <li>
            <strong>原有用途:</strong> {{fireCheck.info.useChange.oldUse}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="fireCheck.info.warm">
      <mat-card-header>
        <mat-card-title>
          建筑保温
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="striped list-unstyled field-info-list">
          <li>
            <strong>材料类别:</strong>{{fireCheck.info.warm.type}}
          </li>
          <li>
            <strong>层数:</strong> {{fireCheck.info.warm.layers}}
          </li>
          <li>
            <strong>保温部位:</strong> {{fireCheck.info.warm.part}}
          </li>
          <li>
            <strong>保温材料:</strong> {{fireCheck.info.warm.material}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>



  </div>

</div>