

    <div class="context-view-head">
      <div class="head-nav">

              <h3>
                  共 {{checks.totalElements | number}} 个建设工程消防备案/验收业务
              </h3>  
      

          <div class="flex-auto">
          </div>

          <div class="actions">

          </div>
      </div>

      <mat-menu #typeMenu="matMenu">
          <button mat-menu-item (click)="onStatusChange()" >全部</button>
          <button [class.mat-selected] ="s.key == status" *ngFor="let s of dataDefine.checkStatus" mat-menu-item  (click)="onStatusChange(s.key)">{{s.label}}</button>
      </mat-menu>
      <div class="head-filter-bar">
          <a [matMenuTriggerFor]="typeMenu" class="filter-menu" 
              [class.filtered]="!!status">
              <span *ngIf="status">{{status | fireCheckStatus}}</span>
              <span *ngIf="!status">全部类型</span>
          </a>

      </div>

  </div>


<div class="context-view-body" >

<div *ngIf="!checks.empty" class="context-view-master">
<div class="px-2 view-context">
  <ul class="repo-list">
      <li *ngFor="let item of checks.content"  class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 public source">
          <div class="flex-shrink-0 mr-2">
              <!-- <fa-icon [icon]="faRegistered"></fa-icon> -->
          </div>

          <div class="mt-n1">
              <div class="f4 text-normal">
                  <a class="v-align-middle"  [routerLink]="item.id ">
                    {{item.id}} / <span >{{item.info.project.name}}</span> 
                  </a>
       
              </div>
              <p class="mb-1">
                  {{item.info.project.address}}  
              </p>
              <div>

                  <div>
                      <!-- <mat-chip-list>
                          <mat-chip *ngFor="let type of dataUtil.splitTypeLabel(item.types)" color="primary" selected>{{type}}</mat-chip>
                      </mat-chip-list> -->
                 
                      {{item.info.project.corpSummary | json}}
                  </div>
                  <!-- <div class="d-flex flex-wrap text-small text-gray">
                      <div class="mr-3">
                
                      </div>
                  </div> -->
              </div>

          </div>
      </li>
  </ul>


  <mat-paginator [length]="checks.totalElements"
          hidePageSize="true"
          showFirstLastButtons="true"
          [pageIndex]="checks.number"
          (page)="onPageChange($event)"
          [pageSize]="checks.size">
  </mat-paginator>
</div>
</div> 


<div class="px-2 context-view-master" *ngIf="checks.empty">
  <div class="blankslate flex-auto" >
      <span octicon="search" class="blankslate-icon" width="32"></span>
      <h3>没有找到符合条件的业务。</h3>
  
  </div>
</div>


<div class="context-view-details" >
  <div class="details-context">
      <ul class="filter-list small">
          <li *ngFor="let s of dataDefine.checkStatus" >
              <a (click)="onStatusChange(s.key)"  class="filter-item" [class.selected]="s.key == status">
                  <span *ngIf="s.key == status" octicon="x" class="float-right"></span>
                  {{s.label}}
              </a>
          </li>
      </ul>     
  </div>
</div>

</div>
  

