/* You can add global styles to this file, and also import other style files */

@import "~material-design-icons/iconfont/material-icons.css";
@import 'typeface-roboto/index.css';

@import './styles/mdb';
@import './styles/github';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


summary {
  outline: none;           
  user-select: none;  
  cursor: pointer;      
}

details summary::-webkit-details-marker {
  display: none; 
}

h3, h4 {
  font-weight: 600;
  line-height: 1.5;
}
h3 {
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5;
}

label {
  font-weight: 600;
}

ol, ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

dl.form-group{
  margin-bottom: 0;
}