/* You can add global styles to this file, and also import other style files */

@import "~material-design-icons/iconfont/material-icons.css";
@import 'typeface-roboto/index.css';
// regular style toast 
@import '~ngx-toastr/toastr';
 


@import './styles/mdb';
@import './styles/github';
@import './styles/define';

@import './styles/constants';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


summary {
  outline: none;           
  user-select: none;  
  cursor: pointer;      
}

details summary::-webkit-details-marker {
  display: none; 
}

h3, h4 {
  font-weight: 600;
  line-height: 1.5;
}
h3 {
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5;
}

label {
  font-weight: 600;
}

ol, ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

dl.form-group{
  margin-bottom: 0;
}

.context-view-head{
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0,0,0,.12);

  .head-nav{
    display: flex;
    width: 80%;

    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;

    .flex-spacer{
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 40px;
    }

    @media (max-width: 1140px){
      width: 100%;
      margin-right: 0;
    }

  }
} 

.context-view-body{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}



.context-view-master{
  width: 80%;

  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;

  -webkit-box-flex: 1;
  flex-grow: 1;

  .view-context{
    width: 100%;
  }

  @media (max-width: $small-breakpoint-width){
    width: 100%;
    margin-right: 0;
  }

}

.context-view-details{
  top: 35px;
  position: -webkit-sticky;
  position: sticky;

  font-size: 13px;
  width: 19%;
  padding-left: 25px;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  .details-context{
      width: 100%;
      padding: 5px 0 10px 10px;
      border-left: 4px solid #3f51b5;
  }

  @media (max-width: 1140px) {
      display: none;

  }
}

.paper-page {

  width: 700px;

  @media (max-width: 1010px) {
    width: 100%;
  }
}

.mat-card {
  margin: 10px 0;
}

.mat-form-field {
  line-height: 1.5;
}

.tools-card-header .mat-card-header-text{
  flex: 1 1 auto;
}

.tools-card-header .actions{
  margin-top: -12px;
}