
<div class="mdb card blue-gradient">
     <div class="mdb card-body white-text rgba-black-light text-center">
     
       <!--Grid row-->
       <div class="row d-flex justify-content-center">
     
         <!--Grid column-->
         <div class="col-md-6 fadeIn" style="visibility: visible; animation-name: fadeIn; animation-iteration-count: 1;">
     
           <h1 class="font-weight-bold mb-3 h2">建设工程消防备案/验收审批系统</h1>
     
           <h4 class="mb-2 h5">建设工程消防备案/验收审批系统.</h4>
     
         </div>
         <!--Grid column-->
     
       </div>
       <!--Grid row-->
     
     </div>
     </div>
     


      <!-- <div class="turntable-wrap">
        <div class="light" id="turntable_light"></div>
        <div [@rotaty]="{value: rotaty ? 'inactive' : 'active', params: {anim_rotate:rotate}}" 
          (@rotaty.done)="animationDone($event)"
          class="turntable"  
          id="turntable">
            <ul class="bg" id="turntable_bg">
              <li style="transform: rotate(0deg)"></li>
              <li style="transform: rotate(36deg)"></li>
              <li style="transform: rotate(72deg)"></li>
              <li style="transform: rotate(108deg)"></li>
              <li style="transform: rotate(144deg)"></li>
              <li style="transform: rotate(180deg)"></li>
              <li style="transform: rotate(216deg)"></li>
              <li style="transform: rotate(252deg)"></li>
              <li style="transform: rotate(288deg)"></li>
              <li style="transform: rotate(324deg)"></li>
            </ul>
            <ul class="gift" id="turntable_gift">
              <li style="transform: rotate(0deg)" class="no-gift">
                <span>抽中</span>
              </li>
              <li style="transform: rotate(36deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(72deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(108deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(144deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(180deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(216deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(252deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(288deg)" class="no-gift"><span>未抽中</span></li>
              <li style="transform: rotate(324deg)" class="no-gift"><span>未抽中</span></li>
            </ul>
        </div>
        <div (click)="test()" class="pointer disabled" id="turntable_pointer">点击抽取</div>
      </div> -->


